<!DOCTYPE html>
<html lang=”pt-br” xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">


<head th:insert="template/fragmentos/cabecalho.html :: head"> </head>

<body>
<header th:insert="template/fragmentos/header.html :: header"> </header>

	<div class="container">


		<th:block th:include="mensagem-validacao"></th:block>


		<form method="POST">

			<h1>Atualizar requerimento</h1>

			<br>

			<div class="form-group">
				<label for=""><b>Descrição</b></label>
				<textarea class="form-control" name="descricao" rows="3"
					th:text="${requerimento.descricao}" required></textarea>
				<small class="form-text text-muted"><i>*Faça um resumo do que pretende fazer na sala.</i></small>
			</div>

			<div class="form-group">
				<label for=""><b>CPF</b></label> <input type="text"
					class="form-control" value="" name="cpf"
					th:value="${requerimento.cpf}" required />
			</div>

			<div class="form-group">
				<label for=""><b>Matrícula</b></label> <input type="text"
					class="form-control" value="" name="matricula"
					th:value="${requerimento.matricula}" required />
			</div>

			<div class="form-group">
				<label for=""><b>Nome do requerente</b></label> <input type="text"
					class="form-control" value="" name="nomeRequerente"
					th:value="${requerimento.nomeRequerente}" required />
			</div>


			<div class="form-group">
				<label for=""><b>E-mail</b></label> <input type="email"
					class="form-control" value="" name="email"
					th:value="${requerimento.email}" required />
			</div>
            </br>
			<button type="submit" class="btn btn-success">Salvar</button>
			<a class="btn btn-danger" href="/requerimentosSALA">Voltar </a>
		</form>
	</div>


<div th:insert="template/fragmentos/divfooter.html :: div"> </div>


</body>

</html>