<!DOCTYPE html>
<html lang=”pt-br” xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">

<head th:insert="template/fragmentos/cabecalho.html :: head"> </head>

<body>

<header th:insert="template/fragmentos/header.html :: header"> </header>
	<div class="container">

		<h1>Cadastro de Funcionário</h1>

		<br>

		<th:block th:include="mensagem-validacao"></th:block>

		<form method="post">

			<div class="form-group">
				<label for=""><b>Nome:</b> </label> <input type="text"
					class="form-control" value=""
					placeholder="Insira o nome do funcionário" name="nome" required>
				<small class="form-text text-muted"><i>* Nome completo.</i></small>
			</div>

			<div class="row">
				<div class="col">

					<div class="form-group">
						<label for=""><b>Data de nascimento:</b></label> <input
							type="date" value="" name="data" class="form-control" required />
						<small class="form-text text-muted"><i>* Dia/Mês/Ano.</i></small>
					</div>
				</div>
				<div class="col">
					<label for=""><b>E-mail:</b> </label> <input type="text" value=""
						name="email" class="form-control" placeholder="email@email.com"
						required />
				</div>

				<div class="col">
					<label for=""><b>Setor:</b> </label> <input type="text" value=""
																 name="tipo" class="form-control" placeholder="Ex:Coinfo"
																 required />
				</div>


				<div class="col">
					<label for=""><b>CPF:</b> </label> <input type="text" value=""
																name="cpf" class="form-control" placeholder="Ex:17192891740"
																required />
				</div>
			</div>
			<button type="submit" class="btn btn-success">Adicionar
				Funcionário</button>
	</div>

	<br>
	<br>

	</form>


	</div>



<div th:insert="template/fragmentos/divfooter.html :: div"> </div>

</body>

</html>