<!DOCTYPE html>
<html lang=”pt-br” xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">

<head th:insert="template/fragmentos/cabecalho.html :: head"> </head>

<body>
<header th:insert="template/fragmentos/header.html :: header"> </header>

	<div class="container">

		<th:block th:include="mensagem-validacao"></th:block>

		<form method="post">

			<h1>Atualizar Funcionário</h1>

			<br>

			<div class="form-group">
				<label for=""><b>Nome do funcionário:</b> </label> <input
					type="text" class="form-control" value="" name="nome" required
					th:attr="value = ${funcionario.nome}" /> <small
					class="form-text text-muted"><i>* Utilize nomes e
						termos mais utilizados no mercado.</i></small>
			</div>
			<div class="form-group">
				<label for=""><b>Matrícula:</b></label> <input
					type="text" class="form-control" value="" name="text" required
					th:attr="value = ${funcionario.matricula}" /><small
					class="form-text text-muted"><i>*matricula.</i></small>
			</div>
			<div class="form-group">
				<label for=""><b>Data de nascimento:</b></label> <input
					type="date" class="form-control" value="" name="data" required
					th:attr="value = ${funcionario.data}" /><small
					class="form-text text-muted"><i>* Data de nascimento.</i></small>
			</div>
			<div class="form-group">
				<label for=""><b>E-mail:</b></label><input type="text"
														   class="form-control" value="" name="email" required
														   th:attr="value = ${funcionario.email}" /><small
					class="form-text text-muted"><i>* email@email.com</i></small>
			</div>
			<div class="form-group">
				<label for=""><b>Setor:</b></label><input type="text"
														  class="form-control" value="" name="setor" required
														  th:attr="value = ${funcionario.tipo}" /><small
					class="form-text text-muted"><i>* Coinfo</i></small>
			</div>

			<div class="form-group">
				<label for=""><b>CPF:</b></label><input type="text"
														class="form-control" value="" name="cpf" required
														th:attr="value = ${funcionario.cpf}" /><small
					class="form-text text-muted"><i>* Cpf</i></small>
			</div>

			<div class="row">

				<div class="col">

				</div>
				<div class="col">

				</div>


				<div class="col">



					<div class="col">



					</div>
			</div>




			<button type="submit" class="btn btn-success">Atualizar
				Funcionário</button>
		</form>
	</div>



<div th:insert="template/fragmentos/divfooter.html :: div"> </div>



</body>

</html>