<div>
<div style="height: 100px;">

    <div class="footer-copyright fixed-bottom bg-dark text-center py-3">
		<span class="text-light align-middle">Sistema de Gestão ServicePro - ©
			2023 Copyright: Desenvolvido por <a href="https://github.com/Ruanfonseca" style="color:#ffff;" target="_blank">RuanFonseca</a></span>
    </div>


    <!--JavaScript bootstrap-->
    <script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous">

    </script>

</div>
</div>